<div id="user-posts">
  <%= render partial:'users/user',locals:{user:@user} %>
  <% @posts.each_with_index do |post,index| %>
    <%= render partial: 'posts/post', locals:{post:post,index:index} %>
    <%= render partial: 'comments/comment', locals:{comments:post.recent_comment,users:@users}%>
  <%end%>
  <div class="pagination"><%= will_paginate @posts %></div>
</div>

